<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="close" onclick="document.getElementById('close').style.display ='none'">
        {% if error %}
            <h3>{{error}}</h3>
        {% endif %}
    </div>
    <form method="post">
        <input type="text" placeholder="usernamae" value="{{userName}}" name="username">
        <input type="text" placeholder="password" value="{{userPass}}" name="pass">
        <input type="text" placeholder="email" value="{{userEmail}}" name="email">
        <button>Güncelle</button>
    </form>
</body>
</html>